#MySignature {
    border: 1px solid #E5E5E5;
    padding: 10px;
    background: #FFFEFE url(http://images.cnblogs.com/cnblogs_com/grenet/226272/o_o_o_info.png) no-repeat scroll 15px 50%;
    padding-left: 80px;
}

#MySignature div {
    line-height: 25px;
}