body {
    position: relative;
    margin: 0;
    height: 100%;
    line-height: 1.5;
    background-color: #FFF;
    padding: 0
}

#home {
    position: relative;
    margin: 24px 0;
}

#main {
    position: relative;
    font-size: 0;
    margin-bottom: 24px;
    margin-top: 24px;
}

#mainContent {
    display: inline-block;
    font-size: 14px;
    width: 74%;
    padding-left: 68px;
    box-sizing: border-box;
}

.forFlow {
    position: relative;
    padding: 24px;
    box-shadow: 0 0 2px #ccc
}

#topics {
    position: relative
}

.postBody {
    margin-top: 24px
}

#blog_post_info_block {
    position: relative;
    margin-top: 24px
}

#BlogPostCategory {
    position: relative
}

#EntryTag {
    position: relative;
    margin-top: 12px
}

#blog_post_info {
    position: relative
}

#green_channel {
    position: relative;
    display: inline-block;
    padding: 8px;
    margin-top: 12px;
    border: 1px dashed #999
}

#green_channel_contact,
#green_channel_digg,
#green_channel_favorite,
#green_channel_follow {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    padding: 6px 0;
    width: 5em;
    text-align: center;
    margin-right: 12px
}

#green_channel_digg {
    background-color: #2daebf
}

#green_channel_follow {
    background-color: #e33100
}

#green_channel_favorite {
    background-color: #ffb515
}

#green_channel_contact {
    background-color: #555
}

#green_channel_wechat,
#green_channel_weibo {
    display: inline-block;
    vertical-align: middle
}

#green_channel_wechat img,
#green_channel_weibo img {
    width: 24px;
    height: 24px
}

#author_profile {
    position: relative;
    margin-top: 12px
}

#author_profile_info {
    position: relative;
    display: block
}

#author_profile_detail {
    position: relative;
    display: inline-block;
    margin-left: 12px
}

#post_next_prev {
    margin-top: 12px
}

#div_digg {
    background-color: #fff;
    bottom: 10px;
    box-shadow: 0 0 6px #ccc;
    display: block;
    padding: 12px 6px;
    position: fixed;
    left: 74%;
    text-align: center;
    z-index: 1000;
    margin-left: 24px;
}

.buryit,
.diggit {
    background-image: url(http://static.cnblogs.com/images/upup.gif);
    cursor: pointer;
    display: inline-block;
    height: 52px;
    text-align: center;
    width: 46px
}

.diggit {
    background-image: url(http://static.cnblogs.com/images/upup.gif)
}

.buryit {
    background-image: url(http://static.cnblogs.com/images/downdown.gif);
    margin-left: 24px
}

.diggword {
    margin-top: 6px
}

#sideBar {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: top;
    width: 26%;
    box-sizing: border-box;
    padding-right: 68px;
}

#sideBarMain {
    padding-left: 24px;
    font-size: 14px
}

.newsItem {
    margin-top: 0
}

#leftcontentcontainer,
#recent_comments_wrap,
#topfeedback_posts_wrap,
#topview_posts_wrap,
.catListPostArchive,
.catListPostCategory,
.catListTag {
    margin-top: 24px
}

.catListTitle {
    color: #999;
    padding-bottom: 4px;
    margin-bottom: 6px;
    border-bottom: 1px dashed #0681ba
}

.recent_comment_title {
    margin-top: 6px
}

.recent_comment_body {
    font-size: 12px
}

.recent_comment_author {
    font-size: 12px;
    text-align: right;
    color: #999
}

#blog-comments-placeholder {
    position: relative;
    margin-top: 24px
}

#comments_pager_bottom,
#comments_pager_top {
    position: relative;
    text-align: right;
    border-bottom: 1px solid #0681ba
}

.pager {
    display: inline-block;
    background-color: #0681ba;
    font-size: 16px;
    margin-top: 12px;
    padding: 6px;
    margin-bottom: -1px
}

.pager .current {
    padding: 6px;
    margin-right: 6px
}

.pager a {
    color: #FFF;
    padding: 6px;
    margin-right: 6px
}

.pager a:hover {
    background-color: #07628d
}

.feedback_area_title {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 6px 12px;
    display: inline-block;
    background-color: #0681ba
}

.feedbackItem {
    margin-top: 12px;
    position: relative;
    border-left: 1px solid #0681ba;
    border-bottom: 1px solid #0681ba;
    padding-bottom: 7px
}

.layer {
    padding: 6px;
    background-color: #0681ba;
    color: #FFF;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px
}

.layer:active,
.layer:hover,
.layer:link,
.layer:visited {
    color: #FFF
}

.blog_comment_body {
    margin: 10px 20px
}

.feedbackManage {
    position: absolute;
    right: 0;
    bottom: 7px
}

.louzhu {
    color: #f60
}

.louzhu+span {
    color: #f60
}

.comment_date {
    margin-right: 10px
}

.comment_actions a,
.comment_bury,
.comment_digg {
    padding: 8px 10px
}

.comment_actions a:hover,
.comment_bury:hover,
.comment_digg:hover {
    background-color: #0681ba;
    color: #fff
}

#comment_form {
    margin-top: 24px
}

#comment_nav {
    border-bottom: 1px solid #0681ba;
    font-size: 16px;
    margin-top: 12px;
    text-align: right
}

#comment_nav a {
    background-color: #0681ba;
    color: #fff;
    display: inline-block;
    margin-left: 6px;
    padding: 6px
}

#comment_nav a:hover {
    background-color: #07628d
}

#commentform_title {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 6px 12px;
    display: inline-block;
    background-color: #0681ba
}

.commentbox_title {
    position: relative
}

.commentbox_title_left {
    position: relative;
    display: inline-block
}

.commentbox_title_right {
    position: relative;
    display: inline-block
}

#tbCommentBody {
    width: 100%;
    height: 160px
}

#btn_comment_submit {
    background-color: #0681ba;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 8px
}

.entrylistPosttitle,
.postTitl2,
.postTitle {
    border-bottom: 1px dashed #0681ba;
    font-size: 20px;
    padding-bottom: 4px
}

.entrylistItemPostDesc,
.postDesc,
.postDesc2 {
    color: #999;
    font-size: 12px;
    margin-top: 12px;
    text-align: right
}

.entrylistDescription {
    color: #999;
    font-style: italic;
    text-indent: 2em;
    margin: 10px 0
}

.PostList,
.day,
.entrylistItem {
    margin: 20px 0
}

.dayTitle {
    display: none
}

.entrylistPostSummary,
.postCon {
    margin: 10px 0;
    font-size: 14px
}

.topicListFooter {
    margin: 20px;
    text-align: center
}