#home{
    margin: 20px;
    overflow-x: hidden;
}

#mainContent{
    width: 100%;
    padding-right: 0;
}
.forFlow{
    padding: 0;
    box-shadow: unset;
}

#sideBar{
    width: 100%;
}

#div_digg{
    position: unset;
}

.diggit{
    float: left;
}

.buryit{
    float: right;
}
