h1,
h2,
h3,
h4,
ul {
    margin: 0;
    padding: 0
}

ul {
    list-style: none
}

a {
    text-decoration: none
}

a:active,
a:link,
a:visited {
    color: #0681ba
}

a:hover {
    color: #f60
}

a img {
    border-width: 0
}

table,
tbody,
td,
th,
thead,
tr {
    border-collapse: collapse;
    border: 1px solid silver
}

table {
    width: 100%
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 1.5;
    background-color: #FFF;
}

@import "_layout.scss";
@import "header.scss";
@import "main.scss";
@import "side-bar.scss";
@import "post.scss";
@import "post.info.scss";
@import "post.comments.scss";
@import "code.scss";
@import "footer.scss";
@import "signature.scss";
@import "fixed-bar.scss";
@import "toc.scss";
@import "lnh-profile.scss";