.cnblogs_code {
    background-color: #F9F9F9;
    border-width: 0;
}

div.cnblogs_code {
    border-left: 4px solid #73dc77;
    margin: 10px 0;
    padding: 8px;
}

span.cnblogs_code {
    font-size: 12px !important;
    vertical-align: middle;
    background-color: #efefef;
    padding: 2px 4px;
    margin: 0;
}

.cnblogs_code_toolbar {
    display: none
}

.cnblogs_code_hide {
    display: none
}