#header {
    border-bottom: 1px solid #0681ba;
    text-align: right;
}

#blogTitle {
    .title {
        font-size: 32px
    }
    .subtitle {
        color: #999;
        font-size: 12px;
        margin: 6px 0;
    }
}

#navigator {
    position: relative;
    text-align: right;
    #navList {
        position: relative;
        display: inline-block;
        font-size: 0;
    }
    #navList li {
        display: inline-block;

        a{
            font-size: 18px;
            display: inline-block;
            margin: 4px 0 4px 1em;
        }
    }
}

#navigator {
    .blogStats {
        position: absolute;
        display: inline-block;
        left: 0;
        bottom: 6px;
        color: #999;
        font-size: 12px;
        font-style: italic;
    }
}