#MySignature {
    padding: 10px;
    background: #F9F9F9 url(http://images.cnblogs.com/cnblogs_com/grenet/226272/o_o_o_info.png) no-repeat scroll 15px 50%;
    padding-left: 80px;

    div {
        line-height: 25px;
    }
}