body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 1.5;
    background-color: #FFF;
}

#home,
#header,
#main,
#footer {
    position: relative;
    display: block;
    margin: 32px 0;
    box-sizing: border-box;
}

#home {
    padding: 0 68px;
}

#main {
    font-size: 0;
}

#mainContent {
    display: inline-block;
    font-size: 14px;
    width: 74%;
    box-sizing: border-box;
}

#sideBar {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: top;
    width: 26%;
    box-sizing: border-box;
    padding-right: 68px;
}

#footer {
    border-top: 1px solid #0681ba;
    padding-top: 10px;
    text-align: center
}