.fixed-bar-warp {
    position: fixed;
    display: block;
    z-index: 9999;
    width: 48px;
    bottom: 32px;
    right: 0;
    color: #fff;
    .fixed-bar {
        position: relative;
        display: block;
        .item {
            display: block;
            text-align: left;
            padding: 8px;
            cursor: pointer;
            i {
                font-size: 24px;
            }
        }
    }
}