.fixed-bar-warp {
    position: fixed;
    display: block;
    z-index: 9999;
    width: 48px;
    bottom: 24px;
    right: 8px;
    color: #fff;
    .fixed-bar {
        position: relative;
        display: block;
        .item {
            display: block;
            text-align: center;
            cursor: pointer;
            i {
                display: block;
                height: 48px;
                line-height: 48px;
                font-size: 32px;
            }
            i:hover {
                font-size: 36px;
            }
        }
    }
}