#author_profile {
    position: relative;
    display: block;
    float: unset;
    width: unset;
}

#author_profile_info {
    position: relative;
    display: block
}

#author_profile_detail {
    position: relative;
    display: inline-block;
    margin-left: 12px
}