#sideBarMain {
    font-size: 14px
}

.newsItem {
    margin-top: 0
}

#leftcontentcontainer,
#recent_comments_wrap,
#topfeedback_posts_wrap,
#topview_posts_wrap,
.catListPostArchive,
.catListPostCategory,
.catListTag {
    margin-top: 24px
}

.catListTitle {
    color: #999;
    padding-bottom: 4px;
    margin-bottom: 6px;
    border-bottom: 1px dashed #0681ba
}