.lnh_toc_warp {
    position: fixed;
    display: inline-block;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    background-color: #fff;
    box-shadow: 0 0 2px #ccc;
    line-height: 1.6;
    overflow-y: auto;
    min-width: 240px;
    max-width: 320px;
    overflow-x: auto;
    .title {
        margin-top: 32px;
        padding-left: 12px;
        font-size: 16px;
    }
    .toc {
        position: relative;
        margin-top: 12px;
        display: block;
        .item {
            display: block;
            font-size: 12px;
            padding-right: 12px;
            white-space: nowrap;
        }
        .item-h1 {
            padding-left: 12px;
            line-height: 2;
        }
        .item-h2 {
            padding-left: 24px;
            line-height: 1.8;
        }
        .item-h3 {
            padding-left: 36px;
        }
        .item.current {
            background-color: #0681ba !important;
            color: #fff !important;
        }
    }
}
