body{
    margin-left: 0 !important;
}

#top_nav{
    display: none !important;
}

#navigator {
    .blogStats {
        top: 40px;
    }
}

#home{
    margin: 18px 18px 54px 18px;
    overflow-x: hidden;
}

#header{
    margin-top: 0;
}

#mainContent{
    width: 100%;
    padding-right: 0;
}
.forFlow{
    padding: 0;
    box-shadow: unset;
}

#sideBar{
    width: 100%;
}

#div_digg{
    position: unset;
}

.diggit{
    float: left;
}

.buryit{
    float: right;
}

.lnh-toc{
    top: unset;
    left: 0;
    bottom: 44px;
}

.lnh-toolbar{
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 4px #ccc;
    a{
        display: inline-block;
        margin: 10px 18px;
   }
}
